.search-results img {
    width: 60px;
    height: 60px;
  }
  .search-results {
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  .search-results:hover {
    background-color: gray;
  }
  